<mat-card>
  <form [formGroup]="splitFormGroup" (ngSubmit)="splitSecret()">

    <div formGroupName="splitRequest">
      <mat-form-field>
        <mat-label>Threshold</mat-label>
        <input type="number" formControlName="threshold" matInput placeholder="2" min="1" max="300">
        <mat-error *ngIf="threshold?.invalid
      && (threshold?.dirty || threshold?.touched)">Please enter an integer value between 1-300.</mat-error>
        <mat-error *ngIf="threshold?.hasError('required')">
          An integer value is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Total Shares</mat-label>
        <input type="number" formControlName="totalShares"   matInput placeholder="4" min="1" max="300">
        <mat-error *ngIf="totalShares?.invalid
      && (totalShares?.dirty || totalShares?.touched)">Please enter an integer value between 1-300.</mat-error>
        <mat-error *ngIf="totalShares?.hasError('required')">
          An integer value is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Secret</mat-label>
        <input type="text" formControlName="secret"
        matInput placeholder="Secret" minlength="3" maxlength="800">
        <mat-error *ngIf="secret?.invalid
      && (secret?.dirty || secret?.touched)">Please enter some text.</mat-error>
        <mat-error *ngIf="secret?.hasError('required')">
          Some text is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="accent" type="submit">Split</button>
  </form>
</mat-card>
