<div *ngIf="recoverShares.length > 0">

  <form class="form">
    <h4>Recover Secret</h4>

    <table data-table-theme="default zebra">
      <caption>Recover Shares</caption>
      <thead>
        <tr>
          <th>Index</th>
          <th>Share</th>
          <th>Signature</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let rshare of recoverShares">
          <td> {{ rshare.index}}</td>
          <td> {{ rshare.share}}</td>
          <td> {{ rshare.signature}}</td>
        </tr>

      </tbody>
    </table>

    <button type="submit" class="btn btn-block">Recover</button>
  </form>
