<div class="container-center">

<form class="form" [formGroup]="splitFormGroup" (ngSubmit)="splitSecret()">
  <h4>Split Secret</h4>
  <div class="form-row">
    <label for="threshold" class="form-label">Threshold</label>
    <input type="number" placeholder="threshold value" formControlName="threshold" name="threshold" min="1" max="300" id="threshold" class="form-input" />
    <small *ngIf="threshold?.invalid
    && (threshold?.dirty || threshold?.touched)" class="form-alert">Please enter an integer value between 1-300
    </small>
  </div>
  <div class="form-row">
    <label for="totalShares" class="form-label">Number of Shares</label>
    <input type="number" placeholder="number of shares" formControlName="totalShares" name="totalShares" id="totalShares" class="form-input" />
    <small *ngIf="totalShares?.invalid
    && (totalShares?.dirty || totalShares?.touched)" class="form-alert">Please enter an integer value between 1-300
    </small>
  </div>
  <div class="form-row">
    <label for="secret" class="form-label">Secret</label>
    <input type="text" placeholder="secret" formControlName="secret" name="secret" id="secret" class="form-input" />
    <small *ngIf="secret?.invalid
    && (secret?.dirty || secret?.touched)" class="form-alert">Provide a value</small>
  </div>
  <button type="submit" class="btn btn-block">Split</button>
</form>
</div>
