<mat-table *ngIf="datasource.length > 0" [dataSource]="datasource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Index Column -->
  <ng-container matColumnDef="Index">
    <th mat-header-cell *matHeaderCellDef> Index </th>
    <td mat-cell *matCellDef="let element"> {{element.index}} </td>
  </ng-container>

  <!-- Share Column -->
  <ng-container matColumnDef="Share">
    <th mat-header-cell *matHeaderCellDef> Share </th>
    <td mat-cell *matCellDef="let element"> {{element.share}} </td>
  </ng-container>

  <!-- Signature Column -->
  <ng-container matColumnDef="Signature">
    <th mat-header-cell *matHeaderCellDef> Signature </th>
    <td mat-cell *matCellDef="let element"> {{element.signature}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container >
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn">DELETE</button>
    </mat-action-row>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
<p class="info-text mat-body-1" *ngIf="datasource.length <= 0">No shares yet!</p>
